/* ipad */
@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1020px) {
    .f-inner-left {

        display: block;
    }

    .footer-bottom .bt-list {
        gap: 15px;
        padding-top: 5px;
    }

    .footer-bottom .sns-list {
        padding-top: 5px;
    }

    .qr-list p {
        font-size: 1em;
    }
}

/* mobile */
@media screen and (max-width:768px) {
    .notice-section .more-btn {
        font-size: 14px;
    }

    .notice-section-name h2 {
        font-size: 18px;

    }

    .notice-section-name p {
        font-size: 18px;


    }

    .notice-section .top-list li:nth-child(2) {
        font-size: 14px;
    }

    .notice-section .icon-list a {
        width: 80px;
        height: 87px;
    }

    .notice-section .icon-list a>img {

        width: 50px;
        height: 50px;
    }

    .notice-section .icon-list a>p {
        font-size: 20px;
    }

    .footer-logo img {
        width: 130px;
    }

    .qr-list {
        display: none;
    }

    .f-inner-left {
        display: block;
    }



    .footer-bottom .bt-list {
        display: none;
    }

    .footer-bottom .sns-list {
        /* display: none; */
        gap: 29px;
    }
}

@media screen and (max-width:480px) {
    .footer-logo img {
        width: 100px;
    }

    .select-company {
        font-size: 14px;
    }
}