/* ipad */
@media screen and (max-width:1280px) {
    .main-slider-wrap {
        padding-left: 0;
        gap: 30px;
    }

    .page-list-wrap {
        width: auto;
        flex: 1;
        margin-left: 0;
        overflow: hidden;
    }

    .text-box .title {
        font-size: var(--14px);
        margin-bottom: 10px;
    }
}

@media screen and (max-width:980px) {}

/* mobile */
@media screen and (max-width:768px) {}

@media screen and (max-width:480px) {}