/* 변수 */
:root {
    /* color */
    --main: #EE3123;
    --mian-text: #DDDDDD;
    --support-text: #AAAAAA;
    --ssupport-text: #707070;
    --icon: #CCCCCC;
    --blk-btn: #00000080;
    --red-btn: #EE312380;
    --Hblk-btn: #000000;
    --Hred-btn: #EE3123;
    /* font */
    --px12: 0.75em;
    --px14: 0.875em;
    --px16: 1em;
    --px20: 1.25em;
    --px24: 1.5em;
    --px28: 1.75em;
    --px32: 2em;
    --px40: 2.5em;
    /* etc */
    --radius: 1.75em;
}

/* 공통사항 */
section {
    padding: 110px 0 40px;
}

.inner {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
}

.section-header {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}


.section-header>.section-title {
    font-size: var(--px32);
    font-weight: 700;
}

.section-header>.sub-title {
    font-size: var(--px32);
    font-weight: 100;
}

/* ^^^ 돈 땃쥐 더 탑 ^^^ */


/* 헤더영역 (예준) */
header {
    width: 100%;
    position: relative;
    z-index: 10000;
}

.header-spacer {
    height: 170px;
}

.header-wrap {
    position: relative;
}


.header-normal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header-t-inner {
    height: 110px;
    background: rgba(0, 0, 0, 0.55);
    padding: 16.5px 0;
    border-bottom: 1px solid #70707033;
    backdrop-filter: blur(20px);
}

.header-b-inner {
    height: 60px;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 30px rgba(13, 13, 13, 0.25);
}


/* header-top */
.header-top {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    position: relative;
}

.header-top .logo {
    margin: 0 auto;
}

.header-top .user-menu-list {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 50px;
    bottom: 0;
    color: var(--support-text);
    font-size: var(--px14);
}

.header-top>.user-menu-list>li:hover a {
    text-decoration: underline;
}

/* header-bottom */
.header-bottom {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* main-menu */
.main-menu-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu {
    display: flex;
    font-size: var(--px20);
    font-weight: 700;
}

.main-menu>li {
    position: relative;
}

.main-menu>li>a {
    display: block;
    width: 160px;
    line-height: 60px;
    text-align: center;
    position: relative;
    transition: color 0.25s ease;
}

.main-menu>li>a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--main);
    transition: width 0.25s ease;
}

.main-menu>li:hover>a {
    color: var(--main);
}

.main-menu>li:hover>a::after {
    width: 100%;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 60px;
    width: 160px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    max-height: 0;
    opacity: 0;
    transform: translateY(-8px);
    transition: max-height 0.28s ease, opacity 0.22s ease, transform 0.28s ease;
    z-index: 50;
}

.main-menu>li:hover .sub-menu {
    max-height: 260px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.sub-menu>li>a {
    display: block;
    width: 160px;
    line-height: 50px;
    font-size: 1rem;
    font-weight: 400;
    transition: background 0.2s ease, color 0.2s ease;
}

.sub-menu>li:hover>a {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
}

/* gnb */
.gnb-list {
    display: flex;
    gap: 15px;
}

form {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    transition: 0.2s ease;
}

form>input {
    flex: 1;
    height: 100%;
    background: none;
    border: none;
    margin-left: 10px;
    color: #fff;
    width: 0;
    font-size: var(--px16);
}

form>button {
    height: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form>button img {
    max-width: none;
    width: 24px;
}

header form:hover {
    width: 200px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

header form:hover>input {
    width: 120px;
}

.gnb-list>li {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    transition: 0.2s ease;
}


.gnb-list>li:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* 고정헤더 숨기기 */
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.header-wrap.active .header-fixed {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* 고정 헤더 */
.header-f-inner {
    height: 80px;
    background: #222;
    padding: 18px 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.55);
}

.fixed-bar {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.fixed-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* ------------------------------------------------------------------ */
/* 메인 비디오 (예준) */
.main-visual-wrap {
    position: relative;
    width: 100%;
    height: 953px;
    overflow: hidden;
    margin-top: -170px;
    padding: 0;
}

/* 배경 */
.main-video,
.main-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.main-video {
    opacity: 1;
    transition: opacity 1s ease;
}

.main-image {
    opacity: 0;
    transition: opacity 1s ease;
}

.main-visual-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+75,0.65+100 */
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0.0) 0%, rgba(200, 200, 200, 0.0) 75%, rgba(33, 33, 33, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* 오버레이 */
.visual-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    z-index: 10;
    transition: background 1s ease;
}

.visual-content {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px 50px;
    transition: 1s ease;
}

.movie-logo {
    width: 420px;
    padding: 20px 0;
    margin-bottom: 10px;
    animation: 3s ease;
}

/* 버튼 */
.main-visual-wrap .mov-btn-wrap {
    display: flex;
    gap: 10px;
    transition: 1s ease;
}

.main-visual-wrap .btn {
    display: inline-block;
    width: auto;
    padding: 12px 28px;
    height: 48px;
    border-radius: var(--radius);
    line-height: 24px;
    transition: all 0.3s ease;
    backdrop-filter: blur(20px);
    font-weight: 500;
}

.main-visual-wrap .reserv {
    box-shadow: 0 0 20px rgba(127, 127, 127, 0.25);
    background-color: #000000B3;
}

.main-visual-wrap .reserv:hover {
    background-color: #000000;
}

.main-visual-wrap .view {
    box-shadow: 0 0 20px rgba(127, 127, 127, 0.25);
    color: #000000B3;
    background-color: #FFFFFF80;
}

.main-visual-wrap .view:hover {
    background-color: #FFFFFF;
}

/* 영상 종료 */
.main-visual-wrap.active .main-video {
    opacity: 0;
    pointer-events: none;
}

.main-visual-wrap.active .main-image {
    opacity: 1;
}

.main-visual-wrap.active .visual-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.main-visual-wrap.active .visual-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
}


.main-visual-wrap.active .movie-logo {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    animation: 3s ease;
    padding: 0 50px;
}

.main-visual-wrap.active .mov-btn-wrap {
    justify-content: center;
    position: absolute;
    bottom: 70px;
}

.main-visual-wrap.active .reserv {
    box-shadow: 0 0 20px rgba(127, 127, 127, 0.25);
    background-color: #EE3123B3;
}

.main-visual-wrap.active .reserv:hover {
    background-color: var(--main);
}

.scroll-arrow {
    display: none;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 30px;
}

.scroll-arrow img {
    width: 32px;
    display: block;
}

.main-visual-wrap.active .scroll-arrow {
    display: block;
    opacity: 1;
    animation: ArrowAni 0.8s infinite alternate;
}

@keyframes logoFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ArrowAni {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: translateY(15px);
        opacity: 1;
    }
}

/* ------------------------------------------------------------------ */
/* 무비차트 (기연) */
/* MOVIE-SECTION  */
.movie-btn-wrap {
    display: flex;
    justify-content: space-between;
}

/* 텍스트 + 아이콘 나란히 */
.title-sub {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 에그 아이콘 */
.title-sub .egg {
    width: 14px;
    height: 14px;
    object-fit: contain;
    flex-shrink: 0;
    /* 눌려서 찌그러지는 거 방지 */
}

/* 기존 img 100% 무효화 */
.movie-list img.egg {
    width: 14px;
    height: 14px;
}

.m-button-list {
    display: flex;
    gap: 50px;

}

/* 텝콘텐츠 */
.movie-content {
    display: none;
}

.movie-content.active {
    display: block;
}

.m-button-list a.active {
    color: var(--main);

}

/* 위에 탭콘텐츠 */
.movie-btn-wrap .m-button-list a {
    font-size: var(--px20)
}

.movie-btn-wrap span {
    padding-left: 40px;
    color: #666768;
}

.m-button-list>li:hover {
    color: var(--main)
}

.chart-section .more-btn {
    display: inline-block;
    font-size: var(--px12);
    padding-top: 9px;
}

.chart-section .more-btn a {
    color: var(--support-text);
    text-decoration: none;
}

.chart-section .more-btn a:hover {
    color: var(--ssupport-text);
}

.chart-section .movie-wrap {
    padding-top: 30px;
}

.poster-box .rank {
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #fff;
}

.movie-list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: relative;
}

.poster-box {
    position: relative;

}

.heart-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
}

/* 실제 하트 그림은 여기 */
.poster-box::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: url("../images/unlike-icon.png") no-repeat center;
    background-size: contain;
    pointer-events: none;
}

.poster-box.liked::after {
    background-image: url("../images/like-icon.png");
}

.poster-box {
    overflow: hidden;
    border-radius: 20px;
}

.poster-box .click {
    transition: filter 0.3s ease;
}




.poster-box .click:hover {
    filter: blur(8px) brightness(50%);


}

.poster-box:hover .blind {
    display: flex;
}

.poster-box .blind {
    position: absolute;
    top: 90px;
    color: #ffffff;
    pointer-events: none;
}

.movie-title {
    display: flex;
    gap: 12px;
    align-items: center;
}

.movie-title .age-box {
    font-size: var(--px14);
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-weight: 900;
    border-radius: 5px;
    text-align: center;
}

.movie-title .one {
    background-color: rgba(211, 151, 54, 80);

}

.movie-title .two {
    font-weight: 600;
    background-color: rgba(64, 140, 64, 80);
    letter-spacing: -2px;
    font-size: 14px;
}

.movie-title .three {
    background-color: rgba(190, 178, 47, 80);

}

.movie-title .four {
    background-color: rgba(202, 73, 73, 80);
    ;

}

.text-box .title-sub::before {
    content: "";
    display: block;
    top: 65%;
    left: 18%;
    width: 15px;
    height: 16px;
    position: absolute;
    background: url(../images/movie/에그지수.png);
}

.movie-list li {
    text-align: center;
}

.movie-list img {
    display: block;
    width: 100%;
}

/* 이미지깨짐방지 */
.poster-box img,
.ticket-box img {
    width: 100%;
    height: auto;
}

.ticket-box {
    position: relative;

}

.ticket-box .text-box {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    ;
}

.ticket-box .text-box .movie-title {
    font-size: var(--px24);
    padding-bottom: 19px;
    display: flex;
    justify-content: center;
}

.ticket-box .text-box .title-sub {
    display: flex;
    justify-content: center;
    gap: 3px;

}

.ticket-box .text-box .title-sub p {
    font-size: var(--px16);
    margin-right: 7px;
}

/* 무비섹션 - 줄거리 호버 */

.poster-box .blind p:last-child {
    line-height: 1.5;
    font-weight: 300;

}

.poster-box .blind {
    display: none;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: left;
}

.poster-box .blind p {
    padding: 0 30px;
    /* text-align: center */
    /* font-weight: 100;
    font-size: 12px; */
}

.blind .blind-1 {
    text-align: left;
    width: 350px;
    /* text-align: center; */
    transform: translate(20px, 8px);


}

.blind-1 .b-title {
    font-size: 30px;
    font-weight: 800;
}

.blind-1 .genres {
    font-weight: 200;
    color: #dddddd
}

.blind .zulgeri {
    text-align: left;
    letter-spacing: 2;

    font-weight: 100;
    padding-top: 30px;
    padding-left: 30px;
    transform: translate(-10px, 8px);
    width: 350px;
    display: -webkit-box;
    /* 방향설정 세로방향 */
    -webkit-box-orient: vertical;
    /* 줄수 장하기 */
    -webkit-line-clamp: 11;
    overflow: hidden;
    /* 줄을 변경될 경우 단어를 묶어서 */
    word-break: keep-all;
}

.chart-section .mov-btn-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;

}

.chart-section .btn {
    display: inline-block;
    width: auto;
    padding: 12px 28px;
    height: 48px;
    border-radius: var(--radius);
    line-height: 24px;
    transition: all 0.3s ease;
}

.chart-section .reserv {
    background-color: var(--red-btn);
}

.chart-section .reserv:hover {
    background-color: var(--Hred-btn);
}

.chart-section .view {
    background-color: var(--blk-btn);
}

.chart-section .view:hover {
    background-color: var(--Hblk-btn);
}


@media screen and (max-width:1280px) {

    .section-header>.section-title {
        font-size: 28px;
    }

    .section-header>.sub-title {
        font-size: 28px;
    }

    .m-button-list {
        gap: 30px;
    }

    .m-button-list a {
        font-size: 18px;
    }

    .movie-list {
        flex-wrap: wrap;
    }

    .movie-list li {
        width: calc((100% - 80px) / 2);
    }

    .ticket-box .text-box .movie-title {
        font-size: 20px;
    }

    .title-sub p {
        font-size: 14px;
    }

}

@media screen and (max-width:768px) {

    .inner {
        padding: 0 20px;
    }

    .section-header {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 30px;
    }

    .section-header>.section-title {
        font-size: 24px;
    }

    .section-header>.sub-title {
        font-size: 20px;
    }

    .movie-btn-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .m-button-list {
        flex-wrap: wrap;
        gap: 15px;
    }

    .m-button-list a {
        font-size: 16px;
    }

    .movie-list {
        flex-wrap: wrap;
        gap: 16px;
    }

    .movie-list li {
        width: calc((100% - 16px) / 2);
    }

    .ticket-box .text-box .movie-title {
        font-size: 18px;
    }

    .title-sub {
        gap: 4px;
    }

    .title-sub p {
        font-size: 13px;
    }

    .mov-btn-wrap .btn {
        padding: 10px 18px;
        height: 40px;
        font-size: 14px;
    }

}

@media screen and (max-width:480px) {

    .movie-list li {
        width: 100%;
    }

    .m-button-list {
        gap: 10px;
    }

    .m-button-list a {
        font-size: 14px;
    }

    .ticket-box .text-box .movie-title {
        font-size: 16px;
    }

    .title-sub p {
        font-size: 12px;
    }

    .mov-btn-wrap {
        flex-direction: column;
        gap: 6px;
    }

    .mov-btn-wrap .btn {
        width: 100%;
        text-align: center;
    }

}



/* ------------------------------------------------------------------ */
/* 혜택 / 이벤트 (주연) */
.event-section {
    overflow: visible;
    padding-top: -60px;
}

.event-section .inner {
    overflow: visible;
}

.event-section .btn {
    width: auto;
    padding: 12px 28px;
    height: 48px;
    border: none;
    border-radius: var(--radius);
    background: var(--blk-btn);
    font-size: var(--px16);
    color: var(--mian-text);
    cursor: pointer;
    transition: all 0.3s ease;
}

.event-section .btn:hover {
    background: var(--Hblk-btn);
}

.event-section .btn.active {
    background: var(--red-btn);
}

.event-section .btn-wrap {
    padding-top: 0 !important;
}

.event-section button {
    background: none;
    border: none;
}

/* 메인 */
.main-slider-wrap {
    height: 600px;
    display: flex;
    gap: 68px;
    /* gap: 135px; */
    justify-content: flex-start;
    margin-top: 45px;
    position: relative;
    padding-left: 100px;
}

.main-slider-list {
    position: relative;
    width: 55%;
    height: 540px;
    /* flex-shrink: 0; */
}

.main-slider {
    /* width: 830px; */
    width: 100%;
    height: 540px;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25);
}

.slider {
    display: flex;
    height: inherit;
    /* width: calc(830px * 6); */
    width: 600%;
    transition: transform 0.5s ease;
}

.slider .banner {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    overflow: hidden;
}

.slider .banner a {
    display: block;
    height: inherit;
}

.slider .banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 화살표 */
.slider {
    position: relative;
}

.event-section .arrow-btn-wrap>li {
    position: absolute;
    top: 50%;
    display: flex;
    gap: 50px;
}

.event-section .arrow-btn-wrap>.arrow-btn-left {
    left: -70px;
}

.event-section .arrow-btn-wrap>.arrow-btn-right {
    right: -70px;
}

/* 인디케이터 */
.indicators {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 36px;
}

.indicators span {
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.indicators span.active {
    background: var(--main);
}

/* 페이지 리스트 */
.page-list-wrap {
    position: relative;
    flex: 1;
    width: 0;
    min-width: 0;
    margin-left: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
}

.page-list {
    display: flex;
    width: 200%;
    transition: 0.5s;
    /* flex: 1; */
}

.page-list ul {
    flex-shrink: 0;
}

.page1,
.page2,
.page-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.page1 li a,
.page2 li a,
.page-item li a {
    display: flex;
    align-items: center;
    gap: 24px;
}

.thumb {
    width: 257px;
    height: 159px;
    overflow: hidden;
    flex-shrink: 0;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.text-box {
    overflow: hidden;
    flex: 1;
    min-width: 0;
}

.text-box .title {
    font-size: var(--px20);
    font-weight: 500;
    margin-bottom: 5px;
    margin-bottom: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-box .desc {
    line-height: 1.4;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center; */
}

/* 모어버튼 */
.event-section .more-btn {
    display: inline-block;
    font-size: var(--px12);
    position: absolute;
    top: -30px;
    right: 0;
}

.event-section .more-btn a {
    color: var(--support-text);
    text-decoration: none;
}

.event-section .more-btn a:hover {
    color: var(--ssupport-text);
}

/* 페이저버튼 */
.pager-btn {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: var(--px12);
    font-weight: 500;
    margin-top: 25px;
    /* flex-direction: column; */
}

.pager-btn img {
    height: 10px;
}

/* 고정혜택배너(하단) */
.benefit-title {
    font-size: var(--px32);
    font-weight: 100;
    margin-top: 70px;
    padding-bottom: 45px;
}

.benefit-list {
    display: flex;
    gap: 34px;
    margin-bottom: 66px;
}

.benefit-list>li {
    flex: 1;
    border-radius: 24px;
    aspect-ratio: 1.72/1;
    overflow: hidden;
    transition: 0.3s;
}

.benefit-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 24px; */

}

.benefit-list>li:hover {
    transform: translateY(-10px);
}

/* 광고배너 */
.ad-banner-wrap {
    height: 300px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c88dfb+0,a290fe+100 */
    background: linear-gradient(to bottom, rgba(200, 141, 251, 1) 0%, rgb(114, 91, 231) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden;

}

.ad-banner-wrap>.inner {
    display: flex;
    height: 100%;
    /* align-items: center; */
    position: relative;

}

.ad-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    justify-content: center;
    z-index: 9999;
}

.ad-banner p {
    font-size: clamp(1rem, 1.8vw, var(--px32));
    font-weight: 400;
    margin: 0;
    color: #35007f;
    white-space: nowrap;
}

.ad-banner>strong {
    font-size: clamp(2rem, 3.5vw, 4.2em);
    line-height: 1.2;
    color: var(--mian-text);
    font-family: "YeogiOttaeJalnan";
    white-space: nowrap;
}

.ad-banner .btn {
    border: 2px solid #35007f;
    padding: 10px 24px;
    border-radius: 60px;
    width: fit-content;
    font-size: var(--px20);
    text-align: center;
    font-weight: 500;
    color: var(--mian-text);
}

.ad-banner-wrap>img {
    position: absolute;
    right: 30px;
    bottom: 0;
    height: 90%;
    width: auto;
}

/* ------------------------------------------------------------------ */
/* 특별관 (효진) */
.special-section .spc-btn-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 50px;

}

.special-section .spc-btn-wrap .btn {
    display: inline-block;
    width: auto;
    padding: 12px 28px;
    height: 48px;
    border-radius: var(--radius);
    line-height: 24px;
    transition: all 0.3s ease;
}

.special-section .reserv {
    background-color: var(--red-btn);
}

.special-section .reserv:hover {
    background-color: var(--Hred-btn);
}

.special-section .view {
    background-color: var(--blk-btn);
}

.special-section .view:hover {
    background-color: var(--Hblk-btn);
}

.special-section .btn-wrap {
    display: flex;
    gap: 10px;
    padding-top: 60px;

}

.special-section .btn-wrap button {
    border: none;
    width: auto;
    padding: 0 23px;
    height: 49px;
    border-radius: 28px;
    background: #0A0B0C;
    color: var(--mian-text);
    z-index: 9999;
    font-size: 16px;
}

.special-section .btn-wrap button:hover {
    background: rgba(238, 49, 35, 0.5);
    color: var(--mian-text);
}

.special-section .btn-wrap .active {
    background: rgba(238, 49, 35, 0.5);
    color: var(--mian-text);
}

.special-section .slider-wrap {
    position: relative;
    /* overflow: hidden; */
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

}




.special-section .arrow-btn-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
    z-index: 99999;
}

.special-section .wrap {
    position: relative;
}

.slider-wrap::before,
.slider-wrap::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 110%;
    height: 40%;
    border-radius: 50%;
    background: rgba(17, 17, 17, 1);
    z-index: 99;
}

.special-section .slider-wrap::before {
    transform: translateX(-50%) translateY(-60%);
}

.special-section .slider-wrap::after {
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
}

.special-section .theater-list .img-box {
    width: 100%;
    height: 480px;
    /* 모든 슬라이드의 높이를 이 값으로 통일 (원하는 높이로 조절) */
    overflow: hidden;
    position: relative;
    border-radius: var(--radius);
    /* 기존 곡률 유지 */
}

.special-section .theater-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.special-section .theater-list .text-box {
    position: absolute;
    bottom: 15%;
    padding-left: 56px;
}

.special-section .theater-list .text-box p {
    font-size: var(--px16);
    font-weight: 600;
}

.special-section .theater-list .text-box .title {
    font-size: var(--px40);
    font-weight: 700;
}

.swiper-pagination {
    bottom: 7px !important;
    /* 곡선 가림막보다 위로 올리기 위해 위치 조정 */
    z-index: 99999;
    /* 가림막(99)보다 높게 설정 */
}

/* 불렛(동그라미) 색상 변경 (기본색이 안 보일 수 있음) */
.special-section .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 0.5;
}

.special-section .swiper-pagination-bullet-active {
    background: var(--red-btn) !important;
    /* CGV 레드 포인트 컬러 */
    opacity: 1;
}

/* ------------------------------------------------------------------ */
/* 공지사항 (하영) */
.notice {
    padding: 32px 0;
    border-top: 1px solid #403B3B;
    border-bottom: 1px solid #403B3B;
}

.notice-list {
    /* max-width: 1700px; */
    margin: 0 auto;
    padding: 0 50px;
}

.notice-section .more-btn {
    display: inline-block;
    font-size: var(--px16);
}

.notice-section .more-btn a {
    color: var(--support-text);
    text-decoration: none;
}

.notice-section .more-btn a:hover {
    color: var(--ssupport-text);
}

.notice-section-name {

    display: flex;
    align-items: center;
    gap: 10px;
}

.notice-section-name h2 {
    font-size: var(--px20);
    color: var(--mian-text);
}

.notice-section-name p {
    font-size: var(--px20);
    color: var(--support-text);

}

.notice-top-wrap {
    /* padding-top: 54px; */
    border-top: 1px solid #403B3B;
    border-bottom: 1px solid #403B3B;
    padding: 35px 0;
}

.notice-list {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50px;
}

.notice-section .top-list {
    /* padding: 34px 0; */

    display: flex;
    justify-content: space-between;
    position: relative;
}

.notice-section .top-list::before {
    top: 0;
}

.notice-section .top-list::after {
    bottom: 0;
}

.notice-section .top-list>li {
    display: flex;
    align-items: center;
    gap: 10px;
}



.notice-section .top-list>li>a {
    display: flex;
    align-items: center;
}


.notice-section .icon-list {
    display: flex;
    justify-content: space-around;
    margin: 140px 0;
}

.notice-section .icon-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 93px; */
    /* height: 100px; */
    gap: 10px;
}

.notice-section .icon-list a>p {
    font-size: var(--px24);
    font-weight: 500;

}

.notice-section .icon-list>li:hover p {
    color: rgba(238, 49, 35, 0.7);

}


.notice-section .icon-list a>img {

    width: 55px;
    height: 55px;
}

/* ------------------------------------------------------------------ */
/* 푸터영역 (하영) */
footer {
    background-color: var(--main);
    padding: 30px 0 30px;

}

.footer-logo {
    filter: contrast(200%);
}

.footer-logo img {
    width: 150px;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

address p {
    line-height: 20px;
    font-size: var(--px12);
}

.qr-list {
    display: flex;
    gap: 20px;
}

.qr-list p {
    font-size: 1.13em;
    font-weight: 500;
}

.qr-list p:last-child {
    font-size: var(--px14);
    font-weight: 300;
    padding-top: 20px;
}

.footer-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.select-company {
    border: none;
    border-radius: 20px;
    appearance: none;
    background: url(../images/footer/footerup.png) no-repeat right 10px center;
    background-color: #fff;
    padding: 2px 10px 0;
}

.f-inner-left {
    display: flex;
    gap: 35px;

}

.footer-bottom .bt-list {
    display: flex;
    font-size: var(--px14);
    gap: 35px;
}

.footer-bottom .sns-list {
    display: flex;
    gap: 50px;

}

.footer-bottom .sns-list>li:first-child {
    background: #FEE500;
    padding: 5px;
    border-radius: 40%;
}

footer .sns-list img {
    width: 20px;
}

.footer-bottom .sns-list>li:nth-child(2) {
    background: #833AB4;
    background: linear-gradient(241deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:nth-child(3) {
    background: #E40006;
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:last-child {
    background: #1C1C1B;
    padding: 5px;
    border-radius: 40%;
}

/* 햄버거 오버레이 */
.ham-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(20px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 30000;
}

/* 햄버거 패널 */
.ham-panel {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1760px;
    height: auto;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(20px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease;
    z-index: 30001;
    overflow: hidden;
}

/* 닫기 버튼 */
.ham-close {
    position: absolute;
    top: 38px;
    left: 80px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.ham-close img {
    width: 40px;
    height: 40px;
}

.ham-panel form {
    position: absolute;
    right: 50px;
    top: 38px;
}

.ham-panel form:hover {
    width: 200px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ham-panel form:hover>input {
    width: 120px;
}

body.active .ham-overlay {
    opacity: 1;
    pointer-events: auto;
}

body.active .ham-panel {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

.ham-nav {
    height: 100%;
    padding: 100px 80px 60px;
}

.ham-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px 60px;
}

/* 메인메뉴 */
.ham-main>li {
    text-align: center;
}

.ham-main-title {
    display: inline-block;
    width: 280px;
    font-size: var(--px24);
    font-weight: 700;
    color: #ffffff;
    padding: 20px 0 0;
    position: relative;
}

.ham-main-title::after {
    content: "";
    display: block;
    width: 32px;
    height: 3px;
    background: var(--main);
    margin: 20px auto 0;
}

/* 서브메뉴 */
.ham-sub {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.ham-sub a {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    color: rgba(221, 221, 221, 0.85);
    font-size: var(--px20);
    font-weight: 400;
    transition: .2s ease;
}

.ham-sub a:hover {
    color: #ffffff;
    text-decoration: underline;
}