/* ipad */
@media screen and (max-width: 1280px) {
    .best-seller-list li img {
        width: 60%;
    }

    .seller-wrap {
        margin: 20px 0;
    }

    .grid-wrap {
        gap: 1em;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .box-wrap .img-box {
        padding-top: 5px;
    }

    .box-wrap .text-box h3 {
        padding-top: 0;
    }

    .box-wrap .text-box p:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .box-wrap .text-box p:nth-child(3) {
        padding-bottom: 0;
    }

}

@media screen and (max-width:880px) {
    .grid-wrap {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* mobile */
@media screen and (max-width:768px) {
    .grid-wrap {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width:500px) {
    .body {
        font-size: 12px;
    }

    .btn-wrap {
        gap: 18px;
    }

    .btn {
        padding: 10px 26px;

        height: 46px;
    }

    .grid-wrap {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }



}

@media screen and (max-width:480px) {
    .btn-wrap {
        gap: 14px;
    }

    .btn {
        padding: 4px 20px;

        height: 40px;
    }
}